<h1 class="text-center">ABOUT US</h1>
<p class="text-center">WEBPAGE DEDICATED TO SHOW ALL THE NEW ARTIST IN 2023</p>
<form action="http://localhost:3000/blog/index">
    <input type="submit" value="Go to Blog" />
</form>
